<!Doctype HTML>
<html>
  <head>
    <title>The Iron Roster</title>
  </head>
  <body>
    <h1>The Iron Roster</h1>
    <ul style="list-style-type:none">
      <% @students.each do |student| %>
        <li>
          <% if student.github_account %>
            <a href=<%= "http://#{student.github_account}.github.com"%>><%= student.name %></a>
          <% else %>
            <%= student.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
