<li <%= "class=completed" if todo.complete %>>
    <div class="view">
      <form>
          <input class="toggle" type="checkbox" <%= "checked" if todo.complete %>>
      </form>
      <a><%= todo.content %></a>
      <form>
          <button class="destroy"></button>
      </form>
    </div>
</li>