<!-- Placeholder for code while testing partials -->

<li>
<!-- If this list item is being edited, the div.view can be omitted -->
  <div class="view">
    <form>
      <input class="toggle" type="checkbox" checked>
    </form>
    <a>Taste the Ruby</a>
    <form>
      <button class="destroy"></button>
    </form>
  </div>
  <!-- The following form should appear only if this list item is being edited -->
    <form>
      <input class="edit" value="Taste the Ruby">
    </form>
</li>