<form action=<%="/people/#{@action}"%> method="POST">
  <label for="name">Name: <br/></label>
  <input type="text" name="name" id="name">
  <br/>
  <label for="ROR">ROR</label>
  <input type="radio" name="subject" id="ROR" value="ROR">
  <label for="FEE">FEE</label>
  <input type="radio" name="subject" id="FEE" value="FEE">
  <label for="iOS">iOS</label>
  <input type="radio" name="subject" id="iOS" value="iOS">
  <br/>
  <label for="github_account">Github account username: <br/></label>
  <input type="text" name="github_account" id="github_account">
  <br/>
  <button><h2><%="#{@action} this person!"%></h2></button>
</form>