<!DOCTYPE html>
<html>
  <head>
    <title>The Iron Yelp</title>
  </head>
  <body>
    <h1>The Iron Yelp</h1>
    <h2>Restaurants By Cuisine Type</h2>
    <ul style="list-style: none;">
      <% @categories.each do |category| %>
      <a href= <%= "#{category.gsub(" ","_").downcase}" %>><li><%= category %></li></a>
      <% end %>
    </ul>
    <p> <%= @toprated %> </p>
  </body>
</html>