<!DOCTYPE html>
<html>
  <head>
    <title>All Restaurants</title>
  </head>
  <body>
    <h1>All Restaurants</h1>
    <ul style="list-style: none;">
      <% @restaurants.each do |restaurant| %>
      <a href= <%= "#{restaurant.filename}" %>><li><%= restaurant %></li></a>
      <% end %>
    </ul>
    <a href="/home">Home</a>
  </body>
</html>